.body {
    margin: 0;
    padding: 0;
}

.slide {
    height: 700px;
    width: auto;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.slide5 {
    margin: 0px;
    margin-bottom: 50px;
}
.textbox {
    width: 500px;
    display: inline-block;
}

.text {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 500px;
    font-size: x-large;
    text-align: center;
    vertical-align: top;
}
.descriptiontext {
    font-size: x-large;
}

.imagebox {
    display: inline-block;
}

.slide1img {
    width: 800px;
    height: 550px;
}

.slide2img {
    width: 800px;
    height: 550px;
}

.slide3img {
    width: 800px;
    height: 550px;
}

.slide4img {
    width: 800px;
    height: 550px;
}
.slide6img {
    width: 800px;
    height: 550px;
    margin-left: 20px;
}

.slide7img {
    width: 600px;
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
}

.slide9img {
    width: 650px;
    height: 400px;
}

.slide11img {
    height: 550px;
    width: 800px;
}

.slide13img {
    height: 550px;
    width: 800px;
}

.slide18img {
    height: 550px;
    width: 800px;
}

.slide19img {
    height: 550px;
    width: 650px;
    margin-right: 50px;
}

.logos {
    width: 100px;
}

.layeredtext {
    width: min-content;
    text-align: center;
    padding-right: 50px;
}

.slide5buttons {
    width: 135px;
    height: 80px;
    border-radius: 30px;
    border: none;
    vertical-align: text-bottom;
    font-size: large;
    background-color: gray;
    color: seashell;
}
.flowarrow {
    font-size:100px;
}

.thumbsup {
    vertical-align: super;
}

.processlist {
    list-style: none;
    margin-left: 120px;
    margin-right: 25px;
    text-align: center;
    vertical-align: text-top;
}

.h3 {
    display: inline-block;
}

.keyinsightlist {
    list-style: none;
    width: 300px;
}

.headertext {
    font-size: xx-large;
    text-align: center;
}

.slide19list {
    list-style: lower-alpha;
    font-size:x-large; 
    width: fit-content;
    text-align: left;
}